:global .btn-bitbucket {
  background-color: #0747a6;
  border-color: #0747a6;
  height: 42px;
}

:global .btn-google {
  background-color: #c00;
  border-color: #a00;
  height: 42px;
}

:global .btn-azure {
  background-color: #007bff;
  border-color: #007bff;
  height: 42px;
}
