:global(.btn:active, .btn.active) {
  outline: 0;
  box-shadow: none;
}

:global(.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default) {
  color: #555;
  background-color: #ededed;
  border-color: #c5c5c5;
}

html,
body,
:global(#root) {
  height: 100%;
}

body {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Montserrat, sans-serif;
  font-weight: bold;
}

a {
  color: #ff3435;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

label {
  font-weight: 400;
}

:global .pagination {
  display: inline-block;
  padding-left: 0;
  margin: 18px 0;
  border-radius: 0;
}

:global .pagination > li {
  display: inline;
}

:global .a-relative a {
  position: relative;
}

:global .a-pv a {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

:global .a-ph a {
  padding-left: 0.15rem;
  padding-right: 0.15rem;
}

:global .a-gray a {
  color: #666;
}

:global .a-db a {
  display: block;
}

:global .a-bg-white a {
  background-color: #fff;
}

:local .tab > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  background-color: #fff;
  color: #666;
}

:local .no-data span {
  font-size: 80px;
}

:global .pagination > li > a,
:global .pagination > li > span {
  position: relative;
  float: left;
  padding: 8px 12px;
  line-height: 1.42857143;
  text-decoration: none;
  color: #ff3435;
  background-color: #fff;
  border: 1px solid #ddd;
  margin-left: -1px;
}

:global .split-button ul a {
  padding: 0.6rem 3rem 0.6rem 1.8rem;
}

:global .nav-item > span:hover {
  color: #272727;
}

:global .pagination > .active > a,
:global .pagination > .active > span {
  background-color: #ff3435;
  z-index: 3;
  color: #fff;
  border-color: #ff3435;
  cursor: default;
}

:global .pagination > li:first-child > a,
:global .pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

:global .pagination > li:last-child > a,
:global .pagination > li:last-child > span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

:global .pagination > li > a:hover,
:global .pagination > li > span:hover,
:global .pagination > li > a:focus,
:global .pagination > li > span:focus {
  z-index: 2;
  color: #e71d1d;
  background-color: #eee;
  border-color: #ddd;
}

:global .dropdown-menu > li > a:hover {
  background-color: #ff3435;
  color: #fff;
}

:global .breadcrumb > li + li > a:active,
:global .breadcrumb > li + li > a:focus,
:global .breadcrumb > li + li > a:hover {
  color: #272727 !important;
}

:global .pagination > .active > a:hover,
:global .pagination > .active > span:hover,
:global .pagination > .active > a:focus,
:global .pagination > .active > span:focus {
  background-color: #ff3435;
  z-index: 3;
  color: #fff;
  border-color: #ff3435;
  cursor: default;
}

:global .breadcrumb {
  margin-bottom: 0;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
}

:global .breadcrumb > li + li::before {
  padding: 0 2px;
}

:global .btn {
  border-radius: 0;
}

:global .navbar {
  background-color: #f5f5f5;
  border-bottom: 2px #e4e4e4 solid;
  font-size: 18px;
  height: 55px;
  margin-bottom: 0.1px;
}

:global .navbar-form {
  margin-bottom: 4px;
  margin-top: 4px;
}

:global .nav-collapse {
  list-style: none;
}

:global .nav-group input {
  background: unset;
  border: none;
  border-left: 1px solid lightgray;
  border-bottom: none;
  border-right: none;
}

:global .nav-item {
  color: #777;
  padding: 10px;
  display: inline-block;
}

@media (min-width: 768px) {
  :global .navbar {
    margin-left: 210px;
    position: sticky;
    top: 0.1px;
    z-index: 5;
  }
}

@media (min-width: 768px) {
  :global .navbar-header {
    float: left;
  }
}

@media (max-width: 768px) {
  :global .navbar-header {
    margin-top: 0.5rem;
    margin-left: 1rem;
  }
}

@media (min-width: 768px) {
  :global .nav-collapse {
    float: right !important;
  }
}

.light-fg {
  color: #fff;
}

.lightBg {
  background-color: #fff;
}

.dark-bg {
  background-color: #272727;
}

.primary-bg {
  background-color: #ff3435;
}

:global .panel-c {
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  box-shadow: 0.1px 6px 24px -16px rgba(0, 0, 0, 0.75);
  height: 98px;
}

:global .panel-c:hover {
  height: auto;
}

:global .panel-cb {
  border-color: #ddd;
}

:global .panel-ch {
  color: #333;
  background-color: #f5f5f5;
  border-bottom: 1px solid transparent;
  border-color: #ddd;
}

:global .split-button button {
  background: transparent !important;
  border: none;
  color: #ff3435;
  font-size: 18px;
  font-weight: bold;
  box-shadow: none !important;
  text-transform: capitalize;
  padding: 0;
}

:global .split-button button:active,
:global .split-button button:focus,
:global .split-button button:hover {
  color: #272727 !important;
  background: transparent !important;
}

:global .split-button button:active,
:global .split-button button:focus {
  outline: none !important;
  box-shadow: none !important;
}

:global .split-button button:nth-child(2) {
  padding-right: 0.5rem !important;
  padding-left: 1rem !important;
  top: -0.1rem !important;
}

:global .split-button ul {
  font-size: 18px !important;
  padding: 0;
  text-transform: capitalize;
  max-height: 500px !important;
  min-width: auto;
  overflow-y: auto !important;
}

:global .well {
  min-height: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 6px 24px -16px rgba(0, 0, 0, 0.75);
}

.text {
  font-family: Source Sans Pro, sans-serif;
  font-size: 16px !important;
}

.title {
  font-family: Montserrat, sans-serif;
}

.textarea {
  display: block;
  width: 100%;
  height: 44px;
  padding: 8px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #777;
  background-color: #fff;
  background-image: none;
  border: 1px solid #eaeaea;
  border-radius: 0.1;
  box-shadow: inset 0.1 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.disabled {
  cursor: not-allowed;
  background-color: #eee;
  opacity: 1;
}

.noResize {
  resize: none;
  min-height: 100px !important;
}

:local .no-data {
  color: lightgray;
  font-size: 40px;
  text-align: center;
}

:local .tab {
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  :local .tab {
    display: table-cell;
    width: 1%;
  }

  :local .tab > a {
    margin-bottom: 0;
  }

  :local .stickyContainer {
    position: sticky;
    top: 55px;
    z-index: 4;
  }
}

:local .stickyContainer {
  background-color: white;
}

:local .tabsContainer {
  width: 100%;
  margin-bottom: 0.1;
  padding-left: 0.1;
  list-style: none;
  border-bottom: 1px #eee solid;
  -webkit-box-shadow: 0.1px 6px 24px -19px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0.1px 6px 24px -19px rgba(0, 0, 0, 0.75);
  box-shadow: 0.1px 6px 24px -16px rgba(0, 0, 0, 0.75);
}

:local .tabContent {
  background: #fff;
  padding: 20px;
  margin-bottom: 40px;
}

:local .active {
  background-color: #eee !important;
}

/* Custom functions */

:global .b--bd[disabled],
:global .b--bd[disabled]:hover {
  border-color: #dfdfdf;
}

:global .b--bd[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:global .b--bd[disabled] svg circle {
  stroke: #919191 !important;
}

:global .b--bh:hover {
  border-color: #ff3435;
}

:global .b--bh:hover:not([disabled]) svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:global .b--bh:hover svg circle {
  stroke: #fff !important;
}

:global .b--orgred {
  border-color: #ff3435;
}

:global .b--salmon {
  border-color: #f2dede;
}

:global .b--sb,
:global .b--sb:active,
:global .b--sb:focus,
:global .b--sb:hover {
  border: none !important;
}

:global .b--switch {
  border-color: #d9534f;
}

:global .b--switch:hover {
  border-color: #ac2925;
}

:global .bg-bd[disabled],
:global .bg-bd[disabled]:hover {
  background-color: #fafafa;
}

:global .bg-bh:hover {
  background-color: #ff3435;
}

:global .bg-lbl-gray {
  background-color: #707070;
}

:global .bg-lbl-green {
  background-color: #259800;
}

:global .bg-lbl-red {
  background-color: #f22;
}

:global .bg-lbl-yellow {
  background-color: #ffbf00;
}

:global .bg-ns {
  background-color: #525a5c !important;
}

:global .bg-ne {
  background-color: #ff3435 !important;
}

:global .bg-orgred {
  background-color: #ff3435;
}

:global .bg-salmon {
  background-color: #f2dede;
}

:global .bg-sb,
:global .bg-sb:active,
:global .bg-sb:focus,
:global .bg-sb:hover {
  background: transparent !important;
}

:global .bg-size4 {
  background-size: 4rem 4rem;
}

:global .bg-switch {
  background-color: #d9534f;
}

:global .bg-switch:hover {
  background-color: #c9302c;
}

:global .bottom-9 {
  bottom: 9rem;
}

:global .bottom-15 {
  bottom: 15rem;
}

:global .burgundy {
  color: #a94442;
}

:global .cna-bd[disabled],
:global .cna-bd[disabled]:hover {
  cursor: not-allowed;
}

:global .color-ah:hover {
  color: #fff;
}

:global .color-bd[disabled],
:global .color-bd[disabled]:hover {
  color: #919191;
}

:global .color-bh:hover {
  color: #fff;
}

:global .f2-5 {
  font-size: 1.75rem;
}

:global .grid {
  display: grid;
}

:global .img-box {
  height: 100px;
  width: 100px;
}

:global .l-50 {
  left: 50%;
}

:global .left--100 {
  left: -100%;
}

:global .left-5 {
  left: 5rem;
}

:global .mb10 {
  margin-bottom: 10rem;
}

:global .menu-grid {
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
}

:global .meter-shadow {
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

:global .ml40 {
  margin-left: 40%;
}

:global .modalh-bb {
  border-bottom: 1px solid #e5e5e5;
}

:global .modalf-bt {
  border-top: 1px solid #e5e5e5;
}

:global .montserrat {
  font-family: 'Montserrat', sans-serif;
}

:global .mt-3-25 {
  margin-top: 3.25rem;
}

:global .nav-active-bg {
  background-color: #eee !important;
}

:global .noresize {
  resize: none;
}

:global .o-bd[disabled],
:global .o-bd[disabled]:hover {
  opacity: 1;
}

:global .orgred {
  color: #ff3435;
}

:global .pa1-5 {
  padding: 1.5rem;
}

:global .pb-animation {
  animation: progress-bar-stripes 2s linear infinite;
}

:global .pb-bi {
  background-image:
    linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
}

:global .ph1-5 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

:global .pb-transition {
  -webkit-transition: width 0.6s ease;
  transition: width 0.6s ease;
}

:global .pv2-5 {
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
}

:global .r-50 {
  right: 50%;
}

:global .right3 {
  right: 3rem;
}

:global .sans-pro {
  font-family: 'Source Sans Pro', sans-serif;
}

:global .su-c::before {
  content: '\e682';
}

:global .su-dib::before {
  display: inline-block;
}

:global .su-icon::before {
  font-family: 'Pe-icon-7-stroke', sans-serif;
}

:global .su-icon:hover {
  opacity: 0.8;
}

:global .su-icon-f::before {
  font-size: 4rem;
}

:global .su-v-mid::before {
  vertical-align: mid;
}

:global .svg-box svg {
  width: 16px !important;
  height: 16px !important;
}

:global .svg-box20 svg {
  width: 20px !important;
  height: 20px !important;
}

:global .switch-mh {
  min-height: calc(1.5em + 0.75rem + 2px);
}

:global .switch-transition {
  transition: left 0.35s;
  -webkit-transition: left 0.35s;
}

:global .tc-bb {
  border-bottom: 1px #eee solid;
}

:global .tc-shadow {
  box-shadow: 0.1px 6px 24px -16px rgba(0, 0, 0, 0.75);
}

:global .top9-9 {
  top: 9.9rem;
}

:global .vertical-center {
  margin-top: auto;
  margin-bottom: auto;
}

:global .w-200 {
  width: 200%;
}

:global .w-45 {
  width: 45%;
}

:global .w-fit-content {
  width: fit-content;
}

:global .ws-pre-wrap {
  white-space: pre-wrap;
}

:global .ww-break-word {
  word-wrap: break-word;
}

/* Custom media */

@media (min-width: 768px) {
  :global .sticky {
    position: sticky;
  }

  :global .w-45-ns {
    width: 45%;
  }

  :global .w-85-ns {
    width: 85%;
  }
}

@media (min-width: 903px) {
  :global .top5-5 {
    top: 5.5rem !important;
  }
}

@media (min-width: 992px) {
  :global .sticky-find {
    position: sticky;
  }
}

@media (min-width: 1149px) {
  :global .top5-5-find {
    top: 5.5rem !important;
  }
}

:global .b--mid-light-gray {
  border-color: #ddd;
}
