:local .content {
  background-color: #fff;
  border-radius: 3px;
  min-height: 70px;
  padding: 28px 25px 0 5px;
  position: relative;
}

:local .content::before {
  background-color: #fff;
  content: "";
  height: 10px;
  left: -5px;
  position: absolute;
  top: 37.5px;
  width: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

:local .date {
  display: block;
  left: 0;
  overflow: hidden;
  position: absolute;
  text-align: right;
  text-overflow: ellipsis;
  top: 34px;
  white-space: nowrap;
  width: 145px;
}

:local .container {
  list-style: none;
  padding-left: 190px;
  position: relative;
  text-align: left !important;
}

:local .container::before {
  background-color: #ededed;
  border: 2px solid #ccc;
  border-radius: 50px;
  content: '';
  height: 16px;
  left: 162px;
  position: absolute;
  top: 34.5px;
  width: 16px;
}

:local .red::before {
  border-color: #ef6262;
}

:local .green::before {
  border-color: #7accbe;
}
