:local .vuln_title {
  color: #555;
  font-weight: bold;
}

:local .filter_input {
  border: none !important;
  box-shadow: none !important;
}

:local .tableHeader {
  background-color: white;
  color: #555;
}

:local .tableHeader > th {
  padding: 2px 3px !important;
  white-space: unset !important;
  text-align: left !important;
}

:local .tableBody > td {
  padding: 2px 3px !important;
  border: none !important;
}
