:local .container {
  margin-left: unset;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
}

:local .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}

:local .content [class*='col-'] {
  display: flex;
  flex-direction: column;
}
