:local .dropdownButton {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  white-space: normal;
}

:local .dropdownButton,
.dropdownButton:focus {
  background-color: #fff;
  border-color: #ff3435;
  color: #ff3435;
  outline: none;
}

:local .dropdownButton:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}

:local .dropdownButton:active,
.dropdownButton:active:focus {
  background-color: #8e1616;
  border-color: #8e1616;
  color: #fff;
  outline: none;
}

:local .dropdownButton:active:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}

:local .dropdownButton:active svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:local .dropdownButton[disabled],
.dropdownButton[disabled]:hover {
  background-color: #fafafa;
  border-color: #dfdfdf;
  color: #919191;
  opacity: 1;
}

:local .dropdownButton svg {
  width: 16px !important;
  height: 16px !important;
}

:local .dropdownButton[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:local .dropdownButton:hover:not([disabled]) svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:local .dropdownButton[disabled] svg circle {
  stroke: #919191 !important;
}

:local .dropdownButton:hover:not([disabled]) svg circle {
  stroke: #fff !important;
}
