:global .btn-lbitbucket {
  background-color: #0747a6;
  border-color: #0747a6;
}

:global .btn-lgoogle {
  background-color: #c00;
  border-color: #a00;
  margin-top: 4rem !important;
}

:global .btn-login {
  border-width: 1px;
  font-size: 18px;
  height: 40px;
}

:global .btn-lazure {
  background-color: #007bff;
  border-color: #007bff;
}
