{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body bg-graylight">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            Resources
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="resources-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
    <h2 class="white f3-l f5-m f6 fw4 roboto tc ma0">
      Find resources that help your company
    </h2>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="roboto mw-1366 ph-body pv4-l pv3 mr-auto ml-auto">
  <div class="ba1 mb3 relative dt-ns mt0-ns pr3-ns pl3-ns pt3 ma-auto pt3 ml-auto mr-auto">
    <div class="fr-l tc ml-auto mr-auto">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/resources/rules.png"
        alt="Rules image">
    </div>
    <div class="tl-l tc pl5-l w-50-l mw6 fl-l ml-auto mr-auto pt3-l ph0-ns ph3">
      <h2 class="f2 lh-solid c-fluid-bk">
        Rules is a set of security requirements
      </h2>
      <p class="fw3 f4 c-fluid-bk">
        It allows you to parametrize a pentest according to your organization's
        risk appetite
      </p>
      <a href="{{ SITEURL }}/products/rules/">
        <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Go to Rules</button>
      </a>
    </div>
  </div>
  <div class="ba1 mb3 relative dt-ns mt0-ns pr3-ns pl3-ns pt3 ma-auto pt3 ml-auto mr-auto">
    <div class="fr-l tc ml-auto mr-auto">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/resources/asserts.png"
        alt="Rules image">
    </div>
    <div class="tl-l tc pl5-l w-50-l mw6 fl-l ml-auto mr-auto pt3-l ph0-ns ph3">
      <h2 class="f2 lh-solid c-fluid-bk">
        Asserts is an open-source tool that looks for deterministic and
        peripheral vulnerabilities
      </h2>
      <p class="fw3 f4 c-fluid-bk">
        It automates attacks to verify the status of vulnerabilities on your system
      </p>
      <a href="{{ SITEURL }}/products/asserts/">
        <button
          class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">
          Go to Asserts
        </button>
      </a>
    </div>
  </div>
</div>
<div class="bg-graylight">
  <ul class="list ph0-ns ph3 ma0 tc pv3">
    <li class="pr2 di">
      <input type="radio" id="op7" class="op7 dn" name="menu4" checked />
      <label class="all-tag c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="op7">
        All
      </label>
    </li>
    <li class="ph2 di">
      <input type="radio" id="op8" class="op8 dn transparent" name="menu4"/>
      <label class="ebook-tag c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="op8">
        eBook
      </label>
    </li>
    <li class="ph2 di">
      <input type="radio" id="op9" class="op9 dn transparent" name="menu4"/>
      <label class="report-tag c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="op9">
        Report
      </label>
    </li>
    <li class="ph2 di">
      <input type="radio" id="op10" class="op10 dn transparent" name="menu4"/>
      <label class="webinar-tag c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="op10">
        Webinar
      </label>
    </li>
  </ul>
  <div class="roboto flex-ns flex-wrap-ns justify-between-m mw-1366 pv4-l pv3 bg-graylight ml-auto mr-auto">
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card1 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ESP</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          Fast Development while Preserving Security
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          How to Develop Products With Speed
          Without Sacrificing Security?
        </p>
        <div class="pv4 tc">
          <a href="https://www.gotostage.com/channel/d38612ee120645cd93ac5ef7f65119f6/recording/287e90418c824496b67638480010f2b4/watch">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="report fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <img loading="lazy" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/resources/card2.png"
      alt="Webinar cover ESP"
      class="br3 br--top">
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          State of Attacks, Annual Report 2020
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          Discover ideas on practices you can adopt
          to protect your company against attacks.
        </p>
        <div class="pv4 tc">
          <a href="https://report2020.fluidattacks.com/">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Download Now</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card1 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ESP</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          Security for Users or Time-To-Market?
          <br>
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          Learn about continuous deployment without compromising
          the security of your app.
        </p>
        <div class="pv4 tc">
          <a href="https://register.gotowebinar.com/register/8185058534297954575">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card3 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ESP</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          When Is a Security Test Successful?
          <br>
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          Elements of a successful testing strategy.
          <br>
          <br>
        </p>
        <div class="pv4 tc">
          <a href="https://www.gotostage.com/channel/d38612ee120645cd93ac5ef7f65119f6/recording/702df3005c534f6992ad60bffc63bdee/watch">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="ebook fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <img loading="lazy" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/resources/card5.png"
      alt="Webinar cover ESP"
      class="br3 br--top">
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          eBook: Hacking With Speed and Precision
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          Comprehensive guide on how to protect your company from attacks.
          <br>
        </p>
        <div class="pv4 tc">
          <a href="https://landing.fluidattacks.com/us/ebook/">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Download Now</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card8 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ENG</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          Continuous Hacking and Vulnerability Remediation
          <br>
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          What data tells us about continuous hacking.
          <br>
        </p>
        <div class="pv4 tc">
          <a href="https://register.gotowebinar.com/register/3700452970867466510">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card8 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ESP</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          Continuous Hacking and Vulnerability Remediation
          <br>
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          What data tells us about continuous hacking.
          <br>
        </p>
        <div class="pv4 tc">
          <a href="https://register.gotowebinar.com/register/8330343603644644110">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card3 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ESP</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          OWASP No Top 10: 190 Additional Vulnerabilities
          <br>
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          Learn how you can go beyond the OWASP Top 10
          in security testing.
        </p>
        <div class="pv4 tc">
          <a href="https://register.gotowebinar.com/register/3618185313140820236">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card9 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ESP</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          Developing to Resist
          <br>
          <br>
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          How would our software look
          if agile constructions were the norm?
        </p>
        <div class="pv4 tc">
          <a href="https://register.gotowebinar.com/register/6501685343309054732">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
      class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
      <div class="bg-card8 br3 br--top">
        <div class="pa3">
          <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ENG</span>
        </div>
      </div>
      <div class="ph3 mh1">
        <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
          Elements of a Successful Testing Strategy
          <br>
        </h1>
        <p class="c-fluid-bk fw3 f5 mv0">
          Support your decision-making regarding security testing on your systems.
          <br>
        </p>
        <div class="pv4 tc">
          <a href="https://register.gotowebinar.com/register/1179192545930222092">
            <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
          </a>
        </div>
      </div>
    </div>
    <div
    class="webinar fadein br3 shadowbox-blog hover-card mb5 relative dt-ns mt0-ns ma-auto bg-white w-card">
    <div class="bg-card11 br3 br--top">
      <div class="pa3">
        <span class="f7 white bg-moon-gray br3 pv2 ph3 ma0 fw7">ESP</span>
      </div>
    </div>
    <div class="ph3 mh1">
      <h1 class="c-fluid-bk mb0 f3 fw8 tc lh2 pb3">
        Attacks on AWS Using Asserts OSS
        <br>
      </h1>
      <p class="c-fluid-bk fw3 f5 mv0">
        Learn how to conduct an attack using Asserts to compromise an AWS
        account.
        <br>
      </p>
      <div class="pv4 tc">
        <a href="https://www.youtube.com/watch?reload=9&v=-KvvMD7EJAs">
          <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv2 ph4 roboto fw7 f5 dib bt-trans br2 bc-fluid-red ba">Watch Webinar</button>
        </a>
      </div>
    </div>
  </div>
  </div>
</div>
{% endblock content %}

<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
