:local .buttonGroup {
  float: right;
  position: relative;
  width: 100px;
}

:local .emptyChart {
  color: black;
  font-size: 16px;
  text-align: center;
  margin: 0;
}

:local .frame {
  border-style: none;
  height: 100%;
  overflow: hidden;
  width: 100%;
}

:local .loadingComponent {
  color: #eee;
  left: 50%;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  line-height: 1;
}

:local .modalDialog {
  /* 210px is the fixed-sized of the left burger panel */
  --burger-panel-size: 210px;

  display: inline-block;
  left: var(--burger-panel-size);
  max-width: none !important;
  margin: 0 !important;
  position: absolute;
  text-align: left;
  vertical-align: middle;
  width: calc(100% - var(--burger-panel-size));
}

:local .panelTitle {
  /* Using important to override the global react-bootstrap style */
  background-color: #fbfbfb !important;
}

:local .panelFooter {
  /* Using important to override the global react-bootstrap style */
  background-color: #fbfbfb !important;
  text-align: left;
}

:local .tinyLine {
  margin: 0;
  padding: 0;
}

:local .titleBar {
  font-weight: normal;
  height: 30px;
  line-height: 30px;
  text-align: left;
}
