{% extends "base.html" %}
{% block meta %}
<meta name="description"
      content="Our One-Shot Hacking service
      reports security vulnerabilities
      in specific versions of your applications.">
<meta name="keywords"
      content="Fluid Attacks, Services, Ethical Hacking, Security,
      Application, Vulnerabilities, One-Shot Hacking">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href=".">
            Services
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            {{ page.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="one-shot-bg bg-banner-sz coverm cover-s banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f3 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
    <h2 class="white f3-l f5-m f6 fw4 roboto tc ma0">
      Effective Automation and Human Intelligence
    </h2>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="tc pt3 flex nowrap items-center justify-center overflow-x-auto">
  <ul class="pl0">
    <li class="dib ph2">
      <a href="{{ SITEURL }}/services/continuous-hacking"
         class="c-fluid-gray f4 roboto fw7 no-underline hv-fluid-bk">
        Continuous Hacking
      </a>
    </li>
    <li class="dib ph2 bb bc-hover-red bw2">
      <a href="."
      class="c-lightblack f4 roboto fw7 no-underline">
        One-shot Hacking
      </a>
    </li>
  </ul>
</div>
<div class="mw-1366 ph-body center roboto">
  <div class="mw7 center roboto f3-l f4 fw3 lh-2 pv4">
    {{ page.definition }}
  </div>
  <div class="center tc">
    <a class="no-underline tc f3 menu-txt-trans roboto hv-fluid-rd "
    href="{{ SITEURL }}/contact-us/">
      <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv3 ph4 roboto fw7 f4 dib bt-trans br2 bc-fluid-red ba">
        Make an inquiry
      </button>
    </a>
  </div>
</div>
<div class="w-100 tc pv4 mv4">
  <img
    class="h5"
    src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/services/service-one-shot.png"
    alt="Young hacker smiling">
</div>
<div class="mw-1366 ph-body center roboto">
  <div class="w-100 pv4">
    <h2 class="c-fluid-bk fw7 f1 tc">Key Features</h2>
    <div class="internal solution-benefits services-features justify-center items-center flex flex-wrap">
      {{ page.content }}
    </div>
  </div>
  <p class="c-fluid-bk fw7 f2 tc">
    If you want to achieve higher vulnerability remediation rates, we recommend our Continuous Hacking service
  </p>
</div>
{% endblock content %}
