:local .validationError {
  margin-bottom: 0;
  color: #ff3435;
  font-size: 12px;
}

:local .inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

:local .inputfile + label {
  max-width: 100%;
  font-size: 1.25rem;
  font-weight: 700;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.625rem 1.25rem;
}

:local .inputfile_evidence + label {
  color: #ff3435;
  border: 1px solid #ff3435;
  background-color: #f5ad99;
  padding: 0;
}

:local .inputfile:focus + label,
.inputfile.has_focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

:local .inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  margin-right: 0.25em;
}

:local .inputfile_evidence:focus + label,
.inputfile_evidence.has_focus + label,
.inputfile_evidence + label:hover {
  border-color: #8e1616;
}

:local .inputfile_evidence + label > span,
.inputfile_evidence + label > strong {
  padding: 0.625rem 1.25rem;
}

:local .inputfile_evidence + label > span {
  width: 130px;
  min-height: 2em;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: top;
}

:local .inputfile_evidence + label > strong {
  height: 100%;
  color: #fff;
  background-color: #ff3435;
  display: inline-block;
}

:local .inputfile_evidence:focus + label > strong,
.inputfile_evidence.has_focus + label > strong,
.inputfile_evidence + label:hover > strong {
  background-color: #8e1616;
}

@media screen and (max-width: 50em) {
  .inputfile_evidence + label > strong {
    display: block;
  }
}

:local .text_center {
  text-align: center;
}

.form-control {
  display: block;
  width: 100% !important;
  resize: none;
  height: 44px;
  padding: 10px 12px;
  font-size: 16px !important;
  line-height: 1.42857143;
  color: #777;
  background-color: #fff;
  background-image: none;
  border: 2px solid #eaeaea !important;
  border-radius: 0 !important;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #d1d1d1;
  box-shadow: none;
  outline: none;
}

.form-control[disabled],
.form-control[readonly] {
  background-color: #eee;
  opacity: 1;
}

.form-control[disabled] {
  cursor: not-allowed;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: #777;
  border-radius: 10px;
}

.suggestionList {
  border-color: #000;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  list-style-type: none;
  max-height: 300px;
  overflow-y: scroll;
  padding-inline-start: 0;
}

.suggestionList li {
  font-size: 18px;
  padding-inline-start: 10px;
}

.suggestionList li:hover {
  background-color: #ff3435;
  color: #fff;
}

.suggestionList button {
  padding: 0;
  border: none;
  background: transparent;
  text-align: left;
  width: 100%;
}

:local .inputTags {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 14px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  border-radius: 2px;
}

:local .tagInput {
  display: inline-block;
  width: 50%;
}

:local .tagRemove {
  color: #ff3435;
  margin-left: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}
