{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

<!-- This block is for the breadcrumb -->
{% block breadcrumb%}
<div class="pv0 mt-body">
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/about-us/">
            About Us
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        {% if page.partnersindex %}
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            Partners
          </a>
        </li>
        {% elif page.certificationsindex %}
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            Certifications
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

<!-- Block used for the banner of the page -->
{% block header %}
<div class="bg-graylight">
  <div
    class="{{page.banner}} coverm cover-s banner-height justify-center items-center flex bg-center ml-auto mr-auto">
    <div class="w-100 center">
      <h1 class="white fw7 f1 neue tc f-5-l ma0">
        {{ page.title }}
      </h1>
    </div>
  </div>
</div>
{% endblock header %}

<!-- This block is for the content of the page -->
{% block content %}
<div class="bg-graylight">
  <div class="roboto internal mw-1200 center roboto bg-graylight ph4-l ph3 pt5-l pt4 pb5">
    <div>
      {{ page.content }}
    </div>
    {% if page.partnersindex %}
    <div class="cardgrid flex-ns flex-wrap-ns justify-around">
      {% for partnerpage in pages if partnerpage.partner %}
      <div class="br3 shadowbox-blog hover-card relative dt-ns mv3 mh2 bg-white w-card">
        <button class="accordion partner pointer pa3 w-100 bg-white outline-transparent bn t-all-5">
          <img src="{{ SITEURL }}/about-us/partners/{{partnerpage.partnerlogo}}.png" alt="{{partnerpage.alt}}">
          <br>
          <div class="fakebt absolute bottom-0 right-0 left-0 fw3 fadein">
            Read More <br>
            <img loading="lazy" class="arrow w1 pv3" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/angle-arrow-down.svg"
                  alt="Fluid Arrow">
          </div>
        </button>
        <div class="panel pv0 ph2 bg-white t-all-5 overflow-hidden ph4">
          {{ partnerpage.content }}
        </div>
        <button class="readmore tc fw3 w-100 pointer bn bg-white outline-transparent dn">
          Read More <br>
          <img loading="lazy" class="arrow w1 pv3" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/angle-arrow-down.svg"
               alt="Fluid Arrow">
        </button>
      </div>
      {% endfor %}
    </div>
    <div>
      <p>If you are interested in partnering with <code>Fluid Attacks</code>,
      please submit the following <a href="{{ SITEURL }}/contact-us/">Contact Form</a>.</p>
      </div>
    {% endif %}

    {% if page.certificationsindex %}
    <div class="cardgrid flex-ns flex-wrap-ns justify-around">
      {% for certificationspage in pages if certificationspage.certification %}
      <div class="br3 shadowbox-blog hover-card relative dt-ns mv3 mh2 bg-white w-card">
        <button class="accordion pointer pa3 w-100 bg-white outline-transparent bn t-all-5">
          <img src="{{ SITEURL }}/about-us/certifications/{{certificationspage.certificationlogo}}.png" alt="{{certificationspage.alt}}">
          <h4>
            {{ certificationspage.title }}
          </h4>
          <div class="fakebt fw3 fadein">
            Read More <br>
            <img loading="lazy" class="arrow w1 pv3" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/angle-arrow-down.svg"
                alt="Fluid Arrow">
          </div>
        </button>
        <div class="panel pv0 ph2 bg-white t-all-5 overflow-hidden ph4">
          {{ certificationspage.content }}
        </div>
        <button class="readmore tc fw3 w-100 pointer bn bg-white outline-transparent dn">
          <br>
          <img loading="lazy" class="arrow w1 pv3" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/angle-arrow-down.svg"
               alt="Fluid Arrow">
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if page.clientsindex %}
    <div id="scrollDiv" class="w-100">
      <ul class="list ph0-ns ph3 ma0 tc dib overflow-x-auto nowrap w-100 relative carousel">
        <li class="pr2 di">
          <input type="radio" id="gall" class="gall dn" name="menu-clients" checked />
          <label class="tag-all c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="gall">
            All
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g1" class="g1 dn transparent" name="menu-clients"/>
          <label class="tag-banking c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g1">
            Banking/Financial Services
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g2" class="g2 dn transparent" name="menu-clients"/>
          <label class="tag-oil-energy c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g2">
            Oil & Energy
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g3" class="g3 dn transparent" name="menu-clients"/>
          <label class="tag-automotive c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g3">
            Automotive
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g4" class="g4 dn transparent" name="menu-clients"/>
          <label class="tag-pharmaceuticals c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g4">
            Pharmaceuticals
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g5" class="g5 dn transparent" name="menu-clients"/>
          <label class="tag-healthcare c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g5">
            Healthcare
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g6" class="g6 dn transparent" name="menu-clients"/>
          <label class="tag-airlines c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g6">
            Airlines/Aviation
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g7" class="g7 dn transparent" name="menu-clients"/>
          <label class="tag-telecommunications c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g7">
            Telecommunications
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g8" class="g8 dn transparent" name="menu-clients"/>
          <label class="tag-human-resources c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g8">
            Human Resources
          </label>
        </li>
        <li class="ph2 di">
          <input type="radio" id="g9" class="g9 dn transparent" name="menu-clients"/>
          <label class="tag-technology c-fluid-gray f4-ns f5 roboto no-underline fw3 hv-fluid-dkred pointer" for="g9">
            Technology
          </label>
        </li>
      </ul>
      <i class="fas fa-angle-right right-arrow pointer w1 absolute pv2 ph2"></i>
    </div>
    <div class="cardgrid flex-ns flex-wrap-ns justify-around">
      {% for clientspage in pages if clientspage.client %}
      <div class="{{clientspage.filter}} fadein br3 shadowbox-blog hover-card relative dt-ns mv3 mh2 bg-white w-card">
        <button class="accordion pointer pa3 w-100 bg-white outline-transparent bn t-all-5">
          <img src="{{ SITEURL }}/about-us/clients/{{clientspage.clientlogo}}.png" alt="{{clientspage.alt}}">
          <h4>
            {{ clientspage.title }}
          </h4>
          <div class="fakebt fw3 fadein">
            <br>
            <img loading="lazy" class="arrow w1 pv3" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/angle-arrow-down.svg"
                alt="Fluid Arrow">
          </div>
        </button>
        <div class="panel pv0 ph2 bg-white t-all-5 overflow-hidden ph4">
          {{ clientspage.content }}
        </div>
        <button class="readmore tc fw3 w-100 pointer bn bg-white outline-transparent dn">
          <br>
          <img loading="lazy" class="arrow w1 pv3" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/angle-arrow-down.svg"
               alt="Fluid Arrow">
        </button>
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>

{% assets output="static/js/cardHover.min.js", "js/tmp/cardHover.min.js", "js/tmp/clientsFilter.min.js" %}
<script type="text/javascript"
        src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock content %}

<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
