{% extends "base.html" %}
{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/about-us/">
            About Us
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            {{ page.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="{{ page.banner }} cover banner-height justify-center items-center flex bg-center mw-1366 ml-auto mr-auto">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="bg-graylight">
  <div class="roboto mw-1366 ph-body ml-auto mr-auto roboto bg-white ph4-l ph3 pt5-l pt4 pb5">
    <div class="w-100">
      <div class="section-height flex items-center justify-center flex-wrap">
        <div>
          <div class="fl-l pr3-l tl-l tc w-50-l" data-aos="fade-right">
            <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/about-us/people/people-1.png"
            alt="Fluid Attacks Team">
          </div>
          <div class="fr-l tl pl4-l mw6 w-45-l">
            <h2 class="c-fluid-bk fw7 f2 mv0 tl lh-18">
              Fluid Attacks
            </h2>
            <p class="c-fluid-bk fw3 f-solution lh-2 tl f3">
              We are a dedicated and enthusiastic company.
              We are focused on software hacking,
              finding vulnerabilities in a wide range of information systems
              comprehensively, passionately and quickly for all our clients.
            </p>
          </div>
        </div>
      </div>
      <div class="section-height flex items-center justify-center flex-wrap">
        <div>
          <div class="fr-l pr3-l tl-l tc w-50-l" data-aos="fade-left">
            <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/about-us/people/people-2.png"
            alt="Hacking Team">
          </div>
          <div class="fl-l tl pl4-l mw6 w-45-l">
            <h2 class="c-fluid-bk fw7 f2 mv0 tl lh-18">
              Hacking Team
            </h2>
            <p class="c-fluid-bk fw3 f-solution lh-2 tl f3">
              Our highly certified experts make up a robust red team
              divided into sub-teams, depending on their specialties.
              They are continuously attacking and testing,
              as well as developing new applications or tools.
            </p>
          </div>
        </div>
      </div>
      <div class="section-height flex items-center justify-center flex-wrap">
        <div>
          <div class="fl-l pr3-l tl-l tc w-50-l" data-aos="fade-right">
            <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/about-us/people/people-3.png"
            alt="Product & Projects Teams">
          </div>
          <div class="fr-l tl pl4-l mw6 w-45-l">
            <h2 class="c-fluid-bk fw7 f2 mv0 tl lh-18">
              Product & Projects Teams
            </h2>
            <p class="c-fluid-bk fw3 f-solution lh-2 tl f3">
              In addition to having experts helping our clients
              discover their risks, we also have professionals who
              provide them with sufficient guidance regarding
              the products and solutions in their projects
              in order to offer their users secure systems.
            </p>
          </div>
        </div>
      </div>
      <div class="section-height flex items-center justify-center flex-wrap">
        <div>
          <div class="fr-l pl4-l tl-l tc w-50-l" data-aos="fade-left">
            <img
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/about-us/people/people-4.png"
            alt="Marketing & Sales Teams">
          </div>
          <div class="fl-l tl pr3-l mw6 w-45-l">
            <h2 class="c-fluid-bk fw7 f2 mv0 tl lh-18">
              Marketing & Sales Teams
            </h2>
            <p class="c-fluid-bk fw3 f-solution lh-2 tl f3">
              All above-mentioned experts work alongside our marketing
              and sales professionals who,
              thanks to their extensive knowledge and commitment,
              enable us to stand out from our competitors.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
