{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="Here you can find all the articles written by the author {{ author }}.The articles are ordered by publishing date, starting with the last one.
        They offer information about the different topics in the field of
        Information Security.">
  <meta name="keywords"
        content="Author, Article, Information, Security, Blog, Publising, Date">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ author.url }}">
  <meta name="title"
        property="og:title"
        content="{{ author }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="Here you can find all the articles written by the author {{ author }}.The articles are ordered by publishing date, starting with the last one.
        They offer information about the different topics in the field of
        Information Security.">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %} {{ author }} | {{ AUTHOR }}{% endblock %}

{% block canonical %}
  <link rel="canonical"
        href="{{ SITEURL }}/blog/">
{% endblock canonical %}


{% block opengraph %}
  {{ super() }}
  <meta property="og:title"
        content="{{ SITENAME }} - Articles by {{ author }}">
  <meta property="og:type"
        content="profile">
  <meta property="profile:first_name"
        content="{{ author.name.split(' ')[0] }}">
  <meta property="profile:last_name"
        content="{{ author.name.split(' ')[1:]|join(' ') }}">
  <meta property="profile:username"
        content="{{ author.slug }}">
{% endblock opengraph %}

{% block breadcrumb %}
  <!-- navcontent-container -->
  <div class="pv0 mt-body">
    <!-- navcontent-info -->
    <div class="df ma-auto bg-fluid-black">
      <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
        <ul class="dib list w-auto ph0">
          <li class="dib mt0">
            <a class="c-fluid-gray hover-white no-underline"
               href="{{ SITEURL }}/">
              Home
            </a>
            <span class="c-fluid-gray v-mid b"> / </span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-gray hover-white no-underline"
                href="{{ SITEURL }}/blog/">Blog</a>
          </li>
          <span class="c-fluid-gray v-mid b"> / </span>
          </li>
          <li class="dib mt0">
            <a class="c-fluid-gray hover-white no-underline"
               href="{{ SITEURL }}/blog/authors/">
              Authors
            </a>
            <span class="c-fluid-gray v-mid b"> / </span>
          </li>
          <li class="dib mt0">
            <a class="white hover-white no-underline"
               href=".">
               {{ author }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{% endblock breadcrumb %}

<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
