{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="Here you can find all the articles of the blog which are related to the
        category {{ category.name|replace('-', ' ')|capitalize }}. The articles are ordered according to their publishing date and may
        address different subjets related to the field of Information Security.">
  <meta name="keywords"
        content="Article, Category, Blog, Information, Security, Date">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ category.url }}">
  <meta name="title"
        property="og:title | {{ SITENAME }}"
        content="{{ category.name|replace('-', ' ')|capitalize }}">
  <meta name="description"
        property="og:description"
        content="Here you can find all the articles of the blog which are related to the
        category {{ category.name|replace('-', ' ')|capitalize }}. The articles are ordered according to their publishing date and may
        address different subjets related to the field of Information Security.">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}{{ category.name|replace("-", " ")|capitalize }} | {{ AUTHOR }}{% endblock %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/blog/">
{% endblock canonical %}

{% block breadcrumb %}
<!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
              href="{{ SITEURL }}/blog/">Blog</a>
        </li>
        <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/blog/categories/">
            Categories
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">{{ category.name|replace("-", " ")|capitalize }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
