<div class="bg-white">
  <div class="mw-1366 ph-body center df-l flex-wrap db-ml pb5-l pb5-m pb4 pt4-ns pt2 footer-component">
    <!-- company logo -->
    <div class="pt4 w-100 center">
      <div class="fl-l tc">
        <img loading="lazy" class="h-logo"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png" alt="Fluid Attacks Logo">
      </div>
      <div class="dib-l fr-l tc">
        <img
        class="nb3-l dib-l w4"
        loading="lazy"
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/owasp-logo.png"
        alt="OWASP logo">
        <p class="c-fluid-bk roboto f-key-features fw3 mt0 mh2 pb4 dib-l">
          Corporate member of The OWASP Foundation
        </p>
      </div>
    </div>
    <div class="pb4 w-100 ml0-footer text-center-ml nowrap flex justify-around">
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/services/continuous-hacking/" >
            Services
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/services/continuous-hacking/">
            Continuous Hacking
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/services/one-shot-hacking/">
            One-shot Hacking
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/services/comparative/">
            Comparative
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/solutions/" >
            Solutions
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/devsecops/">
            DevSecOps
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/security-testing/">
            Security Testing
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/pentesting/">
            Pentesting
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/ethical-hacking/">
            Ethical Hacking
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/red-teaming/">
            Red Teaming
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/attack-simulation/">
            Attack Simulation
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/code-audit/">
            Code Audit
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/vulnerability-management/">
            Vulnerability Management
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/techniques/sast/" >
            Techniques
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/techniques/sast/">
            SAST
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/techniques/dast/">
            DAST
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/solutions/pentesting/">
            Manual Pentesting
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/techniques/sca/">
            SCA
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/techniques/re/">
            RE
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/systems/web-apps/" >
            Systems
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/web-apps/">
            Web Applications
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/apis/">
            APIs and Microservices
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/cloud-infrastructure/">
            Cloud Infrastructure
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/networks/">
            Networks
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/mobile-apps/">
            Mobile Applications
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/thick-clients/">
            Thick Clients
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/iot/">
            Internet of Things
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/systems/ot/">
            SCADA and OT
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/compliance/owasp/" >
            Compliance
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/compliance/owasp/">
            OWASP
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/compliance/pci/">
            PCI
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/compliance/hipaa/">
            HIPAA
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/compliance/nist/">
            NIST
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/compliance/gdpr/">
            GDPR
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/about-us/" >
            About Us
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/clients/">
            Clients
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/certifications/">
            Certifications
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/differentiators/">
            Differentiators
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/values/">
            Values
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
            href="{{ SITEURL }}/about-us/reviews/">
            Reviews
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/resources/">
            Resources
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/about-us/events/">
            Events
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/about-us/people/">
            People
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/about-us/partners/">
            Partners
          </a><br>
          <a class="c-fluid-gray roboto f5 fw2 no-underline hv-fluid-bk lh-copy"
          href="{{ SITEURL }}/security/">
            Security
          </a><br>
        </div>
      </div>
      <div class="pt4-l b dib-xl display-none v-top tl mh2">
        <div class="lh-2">
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/blog/" >
            Blog
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
            href="{{ SITEURL }}/careers/" >
            Careers
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/faq/" >
            FAQ
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="https://community.fluidattacks.com/" >
            Community
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/contact-us/" >
            Contact
          </a><br>
          <a class="c-fluid-bk f4 roboto fw3 mt0-l no-underline hv-fluid-dkred"
          href="{{ SITEURL }}/subscription/" >
            Newsletter
          </a><br>
        </div>
      </div>
    </div>
    <div class="pt1 pt4-l w-100 center">
      <div class="tc">
        <div class="fr-l">
          <a href="https://clutch.co/profile/fluid-attacks#reviews" target="_blank" rel="noopener noreferrer">
            <img loading="lazy" src="{{ SITEURL }}/theme/images/clutch-review.png"
                alt="Clutch Review">
          </a>
        </div>
        <div class="social-media pt3 fl-l">
          <a class="ph3 no-underline" href="https://www.instagram.com/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-instagram.png"
              alt="Instagram logo">
          </a>
          <a class="pr3 no-underline" href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
            <img loading="lazy" class="hv-fluid-rd w1" src="{{ SITEURL }}/theme/images/social-media/social-facebook.png"
              alt="Facebook logo">
          </a>
          <a class="pr3 no-underline" href="https://www.linkedin.com/company/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-linkedin.png"
              alt="Linkedin logo">
          </a>
          <a class="pr3 no-underline" href="https://twitter.com/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-twitter.png"
              alt="Twitter logo">
          </a>
          <a class="pr3 no-underline" href="https://www.youtube.com/c/fluidattacks/">
            <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-youtube.png"
              alt="Youtube logo">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="mb0-l mb0-m mb3 ph3 bg-white">
  <div class="mw-1366 ph-body center h3">
    <div class="tc nb3 fl-l">
      <p class="c-fluid-bk b f6 fw2 roboto pv3 mv0">Copyright © 2020 Fluid Attacks, We hack your software. All rights reserved.</p>
    </div>
    <!-- status bar -->
    <div class="h2 bg-white b tc pb3 fr-l">
      <a class="c-fluid-gray f6 fw2 no-underline mt2 roboto pl3 hv-fluid-dkred"
         href="https://status.fluidattacks.com/">
         Service status
      </a>
      <span class="c-fluid-gray f6"> - </span>
      <a class="c-fluid-gray f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
         href="{{ SITEURL }}/terms-use/">
         Terms of Use
      </a>
      <span class="c-fluid-gray f6"> - </span>
      <a class="c-fluid-gray f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
         href="{{ SITEURL }}/privacy/">
         Privacy Policy
      </a>
      <span class="c-fluid-gray f6"> - </span>
      <a class="c-fluid-gray f6 fw2 mt2 roboto no-underline hv-fluid-dkred"
         href="{{ SITEURL }}/cookie/">
         Cookie Policy
      </a>
    </div>
  </div>
</div>
