{% extends "base.html" %}
{% block meta %}
<meta name="description"
      content="We're a pentesting and ethical hacking company
      that identifies and reports all your applications
      and software vulnerabilities ASAP.">
<meta name="keywords"
      content="Fluid Attacks, Pentesting, Ethical Hacking, Security Testing, Cybersecurity">
<meta name="url"
      property="og:url"
      content="{{ SITEURL }}/">
<meta name="title"
      property="og:title"
      content="Home | {{ SITENAME }}">
<meta name="image"
      property="og:image"
      content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
<meta name="type"
      property="og:type"
      content="website">
{% endblock meta %}

{% block title %}Home | {{ SITENAME }}{% endblock title %}

{% block header %}

<div class="flex-ns flex-wrap-ns justify-between-m banner-bg bg-banner-sz coverm cover-s section-height ">
  <div class="ba1 mb3 relative dt-ns mt-body ph-body ma-auto pt6-l pt4 mw-1366 ml-auto mr-auto w-100">
    <!-- Banner Image-->
    <div class="fr-l w-45-l w100-m w90-s tc ml-auto mr-auto"
         data-aos="fade-right"
         data-aos-offset="300"
         data-aos-easing="ease-in-sine"
         data-aos-duration="1500">
      <img class="new-banner"
      src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/turbine-main.png"
      alt="Young hacker smiling">
    </div>
    <!-- Banner title and text -->
    <div class="fl-l w-50-l w100-m w90-s mt3-l center pt0-ns pt4"
         data-aos="fade-zoom-in"
         data-aos-easing="ease-in-back"
         data-aos-delay="1000"
         data-aos-offset="0"
         data-aos-duration="500">
      <h1 class="fheader responsive-text c-fluid-bk fw9 tl tc-m neue lh-solid mt0 mb4">CONTINUOUS<br>HACKING</h1>
      <p class="c-fluid-bk roboto fw3 lh2 f3 ma0 tl tc-m w-auto-ns nt4-ns">
        FOR YOUR SOFTWARE DEVELOPMENT LIFECYCLE
      </p>
      <!-- Get a Demo button -->
      <div class="tl-l tc pt4-l pt5">
        <a class="no-underline" href="{{ SITEURL }}/contact-us/">
          <span class="dib br2 bannerbt f3 hv-bt-fluid-rd ph4-l ph5 pv2 bt-trans white b roboto pointer mt2">
              Get a Demo
          </span>
        </a>
      </div>
      <!-- End Demo button -->
    </div>
  </div>
</div>

{% endblock header %}

{% block content %}

<div class="slideshow-home fadein bg-quote1 bg-banner-sz coverm cover-s section-height justify-center items-center flex flex-wrap ">
  <div class="slideshow-inner w-100 ph4">
    <div class="mySlide1 fadein">
      <div>
        <h2 class="white center roboto w-100 tc ph3 f1-l f2-m f3 lh-solid mw7">
          Comprehensive Hacking at the Speed of your Business
        </h2>
      </div>
    </div>
    <div class="mySlide2 fadein dn">
      <div>
        <h2 class="white center roboto w-100 tc ph3 f1-l f2-m f3 lh-solid mw7">
          Effective Automation and Human Intelligence
        </h2>
      </div>
    </div>
    <div class="mySlide3 fadein dn">
      <div>
        <h2 class="white center roboto w-100 tc ph3 f1-l f2-m f3 lh-solid mw7">
          We are a proud corporate member of the OWASP Foundation
        </h2>
      </div>
    </div>
  </div>
  <div class="tc w-100 h1 absolute pt7 mt6">
    <span class="dot1 h-slide-bt w2 ma0 bg-fluid-red hv-bt-fluid-rd dib slide-bt-trans pointer"></span>
    <span class="dot2 h-slide-bt w2 ma0 bg-fluid-gray hv-bt-fluid-rd dib slide-bt-trans pointer"></span>
    <span class="dot3 h-slide-bt w2 ma0 bg-fluid-gray hv-bt-fluid-rd dib slide-bt-trans pointer"></span>
  </div>
  {% assets output="static/js/contactSlides.min.js", "js/tmp/contactSlides.min.js" %}
  <script type="text/javascript"
          src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
  {% endassets %}
</div>
<div class="bg-solutions bg-banner-sz coverm cover-s section-height justify-center items-center flex flex-wrap ">
  <div class="mw-1366 ph-body center pv0-l pv4">
    <div class="w-100 mw8 center">
      <h2 class="white tc roboto f1-l f2-m f3 fw7 mv3 lh-solid">
        Continuous Hacking: Multiple Solutions, One Service
      </h2>
    </div>
    <div class="w-auto-l w5 tc center">
      <ul class="list roboto f3-ns f4 fw7 dib-l ph4 mv0 tl w5">
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/devsecops/" class="white solution-link no-underline mt0 mb3 t-all-5">
            DevSecOps
          </a>
        </li>
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/security-testing/" class="white solution-link no-underline mt0 mb3 nowrap">
            Security Testing
          </a>
        </li>
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/pentesting/" class="white solution-link no-underline mt0 mb3">
            Pentesting
          </a>
        </li>
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/code-audit/" class="white solution-link no-underline mt0 mb3 nowrap">
            Code Audit
          </a>
        </li>
      </ul>
      <ul class="list roboto white f3-ns f4 fw7 dib-l ph4 mv0 tl w5">
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/ethical-hacking/" class="white solution-link no-underline mt0 mb3 nowrap">
            Ethical Hacking
          </a>
        </li>
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/red-teaming/" class="white solution-link no-underline mt0 mb3 nowrap">
            Red Teaming
          </a>
        </li>
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/attack-simulation/" class="white solution-link no-underline mt0 mb3 nowrap">
            Attack Simulation
          </a>
        </li>
        <li class="mb3">
          <a href="{{ SITEURL }}/solutions/vulnerability-management/" class="white solution-link no-underline mt0 mb3 nowrap">
            Vulnerability Management
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="bg-compliance bg-banner-sz coverm cover-s section-height justify-center items-center flex flex-wrap ">
  <div class="tc">
    <h2 class="white center roboto w-100 tc f1-l f2-m f3 lh3 pl3-l ph3 mw7 lh-solid">
      We can help you comply with the following standards, among others<br>
    </h2>
    <a href="{{ SITEURL }}/products/rules/" class="no-underline">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/compliance/logo-nist.png"
        alt="Logo NIST">
    </a>
    <a href="{{ SITEURL }}/products/rules/" class="no-underline">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/compliance/logo-owasp.png"
        alt="Logo OWASP">
    </a>
    <a href="{{ SITEURL }}/products/rules/" class="no-underline">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/compliance/logo-pci-dss.png"
        alt="Logo Pci DSS">
    </a>
    <a href="{{ SITEURL }}/products/rules/" class="no-underline">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/compliance/logo-hipaa.png"
        alt="Logo HIPAA">
    </a>
    <a href="{{ SITEURL }}/products/rules/" class="no-underline">
      <img
        src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/compliance/logo-gdpr.png"
        alt="Logo GDPR">
    </a>
  </div>
</div>
<!-- Ebook section -->
<div class="bg-ebook bg-banner-sz cover bg-center section-height justify-center items-center flex flex-wrap ">
  <div>
    <h2 class="white center roboto w-100 tc f1-l f2-m f3 lh3 pl3-l ph3 mw7 lh-solid">
      Are you going fast in the wrong direction?<br>
    </h2>
    <h3 class="white center roboto w-100 tc f2-ns f4 pl3-l ph3 mw7 lh-solid">
      Hacking with speed and precision
    </h3>
    <div class="tc">
      <a href="https://landing.fluidattacks.com/us/ebook/">
        <button class="bg-transparent pointer white pv2 ph4 roboto fw7 f5 mt3 dib bt-trans br2 b--white ba">Download eBook Now</button>
      </a>
    </div>
  </div>
</div>
<!-- About us section -->
<div class="section-height justify-center items-center flex flex-wrap ">
  <div class="overflow-hidden">
    <div class="tc mw7 center">
      <h2 class="c-fluid-bk roboto tc f1 lh-solid mv4">
        Worldwide Hacking Experts
      </h2>
    </div>
    <div class="tc mw7 center pb4">
      <p class="roboto c-fluid-bk fw1 f-key-features lh-2 mv4 ph5-l ph-body">
        Since 2001, <b class="fw7">Fluid Attacks</b> has been developing
        cybersecurity products and providing solutions for clients in
        industries like technology, banking, finance, healthcare, insurance,
        airlines, and retail.
      </p>
      <a class="c-fluid-bk no-underline hv-fluid-dkred f5 roboto fw1" href="{{ SITEURL }}/about-us/">
        Learn More <span class="c-dkred">></span>
      </a>
    </div>
    {% include "clients-carousel.html" %}
  </div>
</div>
{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>

{% assets output="static/js/fontResizer.min.js", "js/tmp/fontResizer.min.js" %}
<script type="text/javascript"
        src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}
