<div id="navbar" class="cssmenu bg-white lh-solid h-navbar cover ba b--light-gray fixed w-100 top-0 z-max t-all-5">
  <div class="b relative w-100 z-5 mw-1366 mr-auto ml-auto h-navbar ph-body">
    <ul class="list ma0 pa0 overflow-hidden h-navbar">
      <li class="relative fl pv4 mv1">
        <div class="lower">
          <span id="openbtn" class="pointer dib h2-l">
            <img loading="lazy" class="w2" src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/menu.svg"
              alt="Young hacker smiling">
          </span>
        </div>
        <div class="db-l dn">
          <div id="mySidenavXl" class="sidenav bg-white fixed h-100 w-100 top-0 left-0 z-100 overflow-y-auto dn fadein">
            <div class="mw-1366 ph-body center flex">
              <div class="h-100 w-10 dib">
                <span id="closebtn" class="pointer relative fl pv4 mv2">
                  <img
                  class="w2"
                  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/cross.png"
                  alt="Young hacker smiling">
                </span>
              </div>
              <div class="h-100 w-60 dib flex">
                <div class="h-100 w-50 dib">
                  <div class="vh-50 w-100 bg-menu-services justify-center items-center flex tc">
                    <ul class="list f5 fw7 tc ph0">
                      <li class="mb4">
                        <a href="{{ SITEURL }}/services/continuous-hacking/" class="menulink white f3 roboto no-underline nowrap">
                          Services
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/services/continuous-hacking/" class="menulink white roboto no-underline nowrap">
                          Continuous Hacking
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/services/one-shot-hacking" class="menulink white roboto no-underline nowrap">
                          One-Shot Hacking
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/services/comparative/" class="menulink white roboto no-underline nowrap">
                          Comparative
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="vh-50 w-100 bg-menu-systems justify-center items-center flex tc">
                    <ul class="list f5 fw7 tc ph0">
                      <li class="mb4">
                        <a href="{{ SITEURL }}/systems/web-apps/" class="menulink white f3 roboto no-underline nowrap">
                          Systems
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/systems/web-apps/" class="menulink white roboto no-underline nowrap">
                          Web Applications
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/apis/" class="menulink white roboto no-underline nowrap">
                          API's and Microservices
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/cloud-infrastructure/" class="menulink white roboto no-underline nowrap">
                          Cloud Infrastructure
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/networks/" class="menulink white roboto no-underline nowrap">
                          Networks
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/mobile-apps/" class="menulink white roboto no-underline nowrap">
                          Mobile Applications
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/thick-clients/" class="menulink white roboto no-underline nowrap">
                          Thick Clients
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/iot/" class="menulink white roboto no-underline nowrap">
                          Internet of Things
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/ot/" class="menulink white roboto no-underline nowrap">
                          SCADA and OT
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="h-100 w-50 dib">
                  <div class="vh-50 w-100 bg-menu-solutions justify-center items-center flex tc">
                    <ul class="list f5 fw7 tc ph0">
                      <li class="mb4">
                        <a href="{{ SITEURL }}/solutions/devsecops/" class="menulink white f3 roboto no-underline nowrap">
                          Solutions
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/devsecops/" class="menulink white roboto no-underline nowrap">
                          DevSecOps
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/security-testing/" class="menulink white roboto no-underline nowrap">
                          Security Testing
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/pentesting/" class="menulink white roboto no-underline nowrap">
                          Pentesting
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/ethical-hacking/" class="menulink white roboto no-underline nowrap">
                          Ethical Hacking
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/red-teaming/" class="menulink white roboto no-underline nowrap">
                          Red Teaming
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/attack-simulation/" class="menulink white roboto no-underline nowrap">
                          Attack Simulation
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/code-audit/" class="menulink white roboto no-underline nowrap">
                          Code Audit
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/solutions/vulnerability-management/" class="menulink white roboto no-underline nowrap">
                          Vulnerability Management
                        </a>
                      </li>
                    </ul>
                  </div>
                  <div class="vh-50 w-100 bg-menu-aboutus justify-center items-center flex tc">
                    <ul class="list f5 fw7 tc ph0">
                      <li class="mb4">
                        <a href="{{ SITEURL }}/about-us/" class="menulink white f3 roboto no-underline nowrap">
                          About Us
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/clients/" class="menulink white roboto no-underline nowrap">
                          Clients
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/certifications/" class="menulink white roboto no-underline nowrap">
                          Certifications
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/differentiators/" class="menulink white roboto no-underline nowrap">
                          Differentiators
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/values/" class="menulink white roboto no-underline nowrap">
                          Values
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/reviews/" class="menulink white roboto no-underline nowrap">
                          Reviews
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/resources/" class="menulink white roboto no-underline nowrap">
                          Resources
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/events/" class="menulink white roboto no-underline nowrap">
                          Events
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/people/" class="menulink white roboto no-underline nowrap">
                          People
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/about-us/partners/" class="menulink white roboto no-underline nowrap">
                          Partners
                        </a>
                      </li>
                      <li class="mv1">
                        <a href="{{ SITEURL }}/security/" class="menulink white roboto no-underline nowrap">
                          Security
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="h-100 w-30 dib tc">
                <div class="w-100 vh-25 justify-center items-center flex">
                  <img loading="lazy" class="h-logo"
                  src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png" alt="Fluid Attacks Logo">
                </div>
                <div class="w-100 vh-50 justify-center items-center flex">
                  <ul class="list f3 fw7 tc ph0">
                    <li class="mb3">
                      <a href="{{ SITEURL }}/blog/" class="c-fluid-bk roboto no-underline nowrap hv-fluid-rd">
                        Blog
                      </a>
                    </li>
                    <li class="mb3">
                      <a href="{{ SITEURL }}/careers/" class="c-fluid-bk roboto no-underline nowrap hv-fluid-rd">
                        Careers
                      </a>
                    </li>
                    <li class="mb3">
                      <a href="{{ SITEURL }}/faq/" class="c-fluid-bk roboto no-underline nowrap hv-fluid-rd">
                        FAQ
                      </a>
                    </li>
                    <li class="mb3">
                      <a href="https://community.fluidattacks.com/" class="c-fluid-bk roboto no-underline nowrap hv-fluid-rd">
                        Community
                      </a>
                    </li>
                    <li>
                      <a href="{{ SITEURL }}/contact-us/" class="c-fluid-bk roboto no-underline nowrap hv-fluid-rd">
                        Contact
                      </a>
                    </li>
                  </ul>
                </div>
                <div class="w-100 vh-25 justify-center items-center flex">
                  <div class="w-100 tc">
                    <p class="f5 fw6 c-fluid-bk roboto">
                      FOLLOW FLUID ATTACKS
                      <i>
                        <img class="pb3"
                        src="{{ SITEURL }}/theme/images/menu/selector.png"
                        alt="Fluid Selector">
                      </i>
                    </p>
                    <div class="social-media">
                      <a class="pr3 no-underline" href="https://www.instagram.com/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-instagram.png"
                          alt="Instagram logo">
                      </a>
                      <a class="pr3 no-underline" href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
                        <img loading="lazy" class="hv-fluid-rd w1" src="{{ SITEURL }}/theme/images/social-media/social-facebook.png"
                          alt="Facebook logo">
                      </a>
                      <a class="pr3 no-underline" href="https://www.linkedin.com/company/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-linkedin.png"
                          alt="Linkedin logo">
                      </a>
                      <a class="pr3 no-underline" href="https://twitter.com/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-twitter.png"
                          alt="Twitter logo">
                      </a>
                      <a class="no-underline" href="https://www.youtube.com/c/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-youtube.png"
                          alt="Youtube logo">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dn-l">
          <div id="mySidenavS" class="sidenav-s t-all-5 fixed h-100 top-0 left-0 z-100 flex">
            <div class="w-100 bg-white overflow-y-auto mw5 nowrap">
              <div class="h-25">
                <div class="tl pa3">
                  <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/footer-logo.png"
                  alt="Fluid Attacks Small Logo">
                </div>
                <div class="ph3">
                  <form action="{{ SITEURL }}/search.html">
                    <div class="search-div search roboto h3">
                      <input type="text"
                            name="q"
                            id="tipue_search_input"
                            pattern="[a-zA-Z0-9 ]*"
                            title="Only alphanumeric characters"
                            class="search-input bn h-search bg-light-gray outline-transparent f5 mr0"
                            placeholder="Enter your search...">
                    </div>
                  </form>
                </div>
              </div>
              <div class="pl4 overflow-y-auto h-50">
                <ul class="list ma0 pa0 tl">
                  <div>
                    <li class="db pb3 pr3">
                      <input class="usecases-title dn" type="checkbox" name="usecases" id="usecases-title">
                      <label for="usecases-title" class="pointer hv-fluid-rd f5 c-fluid-bk fw4 menu-txt-trans roboto">
                        Services<div class="dib fr w1 mr3"><i class="fas fa-angle-down"></i></div></label>
                      </a>
                      <div class="usecases-list pv2 dn">
                        <ul class="list pl3">
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/continuous-hacking/">
                              Continuous Hacking
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                One-shot Hacking
                              </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                Comparative
                              </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </div>
                  <div>
                    <li class="db pb3 pr3">
                      <input class="solutions-title dn" type="checkbox" name="solutions" id="solutions-title">
                      <label for="solutions-title" class="pointer hv-fluid-rd f5 c-fluid-bk fw4 menu-txt-trans roboto">
                        Solutions<div class="dib fr w1 mr3"><i class="fas fa-angle-down"></i></div></label>
                      </a>
                      <div class="solutions-list pv2 dn">
                        <ul class="list pl3">
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/continuous-hacking/">
                              DevSecOps
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                Security Testing
                              </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                Pentesting
                              </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                Ethical Hacking
                              </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                Red Teaming
                              </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                Attack Simulation
                              </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/services/one-shot-hacking/">
                                Code Audit
                              </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </div>
                  <div>
                    <li class="db pb3 pr3">
                      <input class="aboutus-title dn" type="checkbox" name="about-us" id="aboutus-title">
                      <label for="aboutus-title" class="pointer hv-fluid-rd f5 c-fluid-bk fw4 menu-txt-trans roboto">
                        About Us<div class="dib fr w1 mr3"><i class="fas fa-angle-down"></i></div></label>
                      </a>
                      <div class="aboutus-list pv2 dn">
                        <ul class="list pl3">
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto pv"
                                href="{{ SITEURL }}/about-us/clients/">
                                Clients
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto pv"
                                href="{{ SITEURL }}/about-us/certifications/">
                                Certifications
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/about-us/differentiators/">
                                Differentiators
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/about-us/values/">
                                Values
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/about-us/reviews/">
                                Reviews
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/resources/">
                                Resources
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/about-us/events/">
                                Events
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/about-us/people/">
                                People
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/about-us/partners/">
                                Partners
                            </a>
                          </li>
                          <li class="pv2">
                            <a class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto"
                                href="{{ SITEURL }}/security/">
                                Security
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                  </div>
                  <li class="db pb3">
                    <a href="{{ SITEURL }}/blog/"
                        class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto">
                      Blog
                    </a>
                  </li>
                  <li class="db pb3">
                    <a href="{{ SITEURL }}/contact-us/"
                        class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto">
                      Contact
                    </a>
                  </li>
                  <li class="db pb3">
                    <a href="{{ SITEURL }}/careers/"
                        class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto">
                      Careers
                    </a>
                  </li>
                  <li class="db pb3">
                    <a href="{{ SITEURL }}/faq/"
                        class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto">
                      FAQ
                    </a>
                  </li>
                  <li class="db pb3">
                    <a href="https://community.fluidattacks.com/"
                        class="hv-fluid-rd f5 c-fluid-bk fw4 no-underline menu-txt-trans roboto">
                      Community
                    </a>
                  </li>
                </ul>
              </div>
              <div class="h-25 justify-center items-center flex">
                <div>
                  <div class="w-100 tl pb3 ph3">
                    <a class="no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
                    href="{{ SITEURL }}/contact-us/">
                      <button class="tc outline-transparent fw7 br2 bw1 ph5 pv2 bg-white bc-fluid-red ba hv-fluid-rd hv-fluid-bd bt-trans c-dkred pointer">Contact</button>
                    </a>
                  </div>
                  <div class="w-100 tl pv2 ph3">
                    <div class="social-media">
                      <a class="ph3 no-underline" href="https://www.instagram.com/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-instagram.png"
                          alt="Instagram logo">
                      </a>
                      <a class="pr3 no-underline" href="https://www.facebook.com/Fluid-Attacks-267692397253577/">
                        <img loading="lazy" class="hv-fluid-rd w1" src="{{ SITEURL }}/theme/images/social-media/social-facebook.png"
                          alt="Facebook logo">
                      </a>
                      <a class="pr3 no-underline" href="https://www.linkedin.com/company/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-linkedin.png"
                          alt="Linkedin logo">
                      </a>
                      <a class="pr3 no-underline" href="https://twitter.com/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-twitter.png"
                          alt="Twitter logo">
                      </a>
                      <a class="no-underline" href="https://www.youtube.com/c/fluidattacks/">
                        <img loading="lazy" class="hv-fluid-rd w-social" src="{{ SITEURL }}/theme/images/social-media/social-youtube.png"
                          alt="Youtube logo">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="w-80-m w-50 h-100">
              <div id="closebtnS" class="w-100 h-100 bg-graybar o-50">
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="fl">
        <a class="db tc pa1 no-underline" href="{{ SITEURL }}/">
          <img loading="lazy" class="h-logo ml3 pv2"
            src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png" alt="Young hacker smiling">
        </a>
      </li>
      <li class="relative fr pv4 db-l dn">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/contact-us/">
          <button class="outline-transparent fw7 br2 bw1 ph2 pv2 bg-white bc-fluid-red ba hv-fluid-rd hv-fluid-bd bt-trans c-dkred pointer">Contact</button>
        </a>
      </li>
      <li class="relative fr mr3 pr2 pv4 db-l dn">
        <a class="tc no-underline f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="https://integrates.fluidattacks.com/">
          <button class="outline-transparent c-dkred fw7 ba b--white bw1 ph0 pv2 hv-fluid-rd bg-transparent pointer">Login</button>
        </a>
      </li>
      <li class="relative fr mr4 pv3 mv1 db-l dn">
        <div class="h3 w1 b--moon-gray br"></div>
      </li>
      <!-- Searching features -->
      <li class="relative fr mr3 pv4 db-l dn">
        <label for="tipue_search_input"
          class="search-box-label">
          <span>
            <img class="search-icon relative w-search-icon z-2 pointer ph2-l h-search-icon pv2 mv1"
                src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/search.svg"
                alt="Magnifying glass">
          </span>
        </label>
      </li>
      <li class="db-xl display-none relative fr mr3 pv4">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/blog/">
          <button class="outline-transparent fw4 ba b--white bw1 ph0 pv2 hv-fluid-rd bg-transparent pointer">Blog</button>
        </a>
      </li>
      <li class="db-xl display-none relative fr mr3 pr2 pv4">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/resources/">
          <button class="outline-transparent fw4 ba b--white bw1 ph0 pv2 hv-fluid-rd bg-transparent pointer">Resources</button>
        </a>
      </li>
      <li class="db-l dn fr mr3 pr2 pv4 solutions-index">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/solutions/">
          <button class="outline-transparent fw4 ba b--white bw1 ph0 pv2 hv-fluid-rd bg-transparent pointer">
            Solutions<div class="dib w1"><i class="fas fa-angle-down"></i></div>
          </button>
        </a>
        <div class="solutions-content roboto br3 br--bottom pt4 fadein">
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/devsecops/">DevSecOps</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/security-testing/">Security Testing</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/pentesting/">Pentesting</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/ethical-hacking/">Ethical Hacking</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/red-teaming/">Red Teaming</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/attack-simulation/">Attack Simulation</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/code-audit/">Code Audit</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/solutions/vulnerability-management/">Vulnerability Management</a>
        </div>
      </li>
      <li class="db-l dn fr mr3 pr2 pv4 usecases-index">
        <a class="tc no-underline c-fluid-bk f-key-features menu-txt-trans roboto hv-fluid-rd nt-menu"
            href="{{ SITEURL }}/services/continuous-hacking/">
          <button class="outline-transparent fw4 ba b--white bw1 ph0 pv2 hv-fluid-rd bg-transparent pointer">
            Services<div class="dib w1"><i class="fas fa-angle-down"></i></div>
          </button>
        </a>
        <div class="usecases-content roboto br3 br--bottom pt4 fadein">
          <a class="f-key-features fw4" href="{{ SITEURL }}/services/continuous-hacking/">Continuous Hacking</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/services/one-shot-hacking/">One-shot Hacking</a>
          <a class="f-key-features fw4" href="{{ SITEURL }}/services/comparative/">Comparative</a>
        </div>
      </li>
    </ul>
  </div>
  <div class="mw-1366 ml-auto mr-auto">
    <form action="{{ SITEURL }}/search.html">
      <div class="search-div search roboto h2 w-100 bg-graylight tr dn h3">
        <input type="text"
              name="q"
              id="tipue_search_input"
              pattern="[a-zA-Z0-9 ]*"
              title="Only alphanumeric characters"
              class="search-input dn h3 bn br1 h-search bg-graylight outline-transparent f5 mr0"
              placeholder="Enter your search...">
      </div>
    </form>
  </div>
</div>
{% assets output="static/js/navbar.min.js", "js/tmp/navbar.min.js", "js/tmp/menu.min.js" %}
<script type="text/javascript"
        src="{{ SITEURL }}/{{ ASSET_URL }}"></script>
{% endassets %}