{% extends "index.html" %}

{% block meta %}
  <meta name="description"
        content="{{ page.description }}">
  <meta name="keywords"
        content="{{ page.keywords }}">
  <meta name="url"
        property="og:url"
        content="{{ SITEURL }}/{{ page.url }}">
  <meta name="title"
        property="og:title"
        content="{{ page.title }} | {{ SITENAME }}">
  <meta name="description"
        property="og:description"
        content="{{ page.description }}">
  <meta name="image"
        property="og:image"
        content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
  <meta name="type"
        property="og:type"
        content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" and not TITLE %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 and not TITLE %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block canonical %}
<link rel="canonical"
      href="{{ SITEURL }}/{{ page.url }}">
{% endblock canonical %}

{% block breadcrumb %}
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
             Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        {% if page.findings %}
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/products/">
             Products
          </a>
        </li>
        <span class="c-fluid-gray v-mid b"> / </span>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/products/rules/">
             Rules
          </a>
        </li>
        <span class="c-fluid-gray v-mid b"> / </span>
        <li class="dib mt0" >
          <a class="c-fluid-gray hover-white no-underline"
              href="{{ SITEURL }}/products/rules/findings/">
              Findings
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        {% endif %}
        {% if page.defends %}
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/products/">
             Products
          </a>
        </li>
        <span class="c-fluid-gray v-mid b"> / </span>
        <li class="dib mt0" >
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/products/defends/">
             Defends
          </a>
        </li>
        <span class="c-fluid-gray v-mid b"> / </span>
        <li class="dib mt0" >
          <a class="white hover-white no-underline"
             href="{{ SITEURL }}/products/defends/#{{ page.category.name }}">
             {{ page.category|capitalize }}
          </a>
        </li>
        {% endif %}
        {% if page.eventspage %}
          <li class="dib mt0" >
            <a class="c-fluid-gray hover-white no-underline"
              href="{{ SITEURL }}/about-us/">
                About Us
            </a>
            <span class="c-fluid-gray v-mid b"> / </span>
          </li>
          <li class="dib mt0" >
            <a class="c-fluid-gray hover-white no-underline"
              href="{{ SITEURL }}/about-us/{{ page.category.name }}/">
                Events
            </a>
            <span class="c-fluid-gray v-mid b"> / </span>
          </li>
        {% endif %}
        {% if page.partnerspage %}
        <li class="dib mt0" >
          <a class="c-fluid-gray hover-white no-underline"
            href="{{ SITEURL }}/about-us/">
              About Us
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0" >
          <a class="c-fluid-gray hover-white no-underline"
            href="{{ SITEURL }}/about-us/{{ page.category.name }}/">
              Partners
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
      {% endif %}
      {% if page.forcespage %}
      <li class="dib mt0" >
        <a class="c-fluid-gray hover-white no-underline"
          href="{{ SITEURL }}/products/">
            Products
        </a>
        <span class="c-fluid-gray v-mid b"> / </span>
      </li>
      <li class="dib mt0" >
        <a class="c-fluid-gray hover-white no-underline"
          href="{{ SITEURL }}/products/forces/">
            Forces
        </a>
        <span class="c-fluid-gray v-mid b"> / </span>
      </li>
      {% endif %}
      {% if page.assertsindex %}
      <li class="dib mt0" >
        <a class="c-fluid-gray hover-white no-underline"
          href="{{ SITEURL }}/products/">
            Products
        </a>
        <span class="c-fluid-gray v-mid b"> / </span>
      </li>
      {% endif %}
      {% if page.usecasespage %}
      <li class="dib mt0" >
        <a class="c-fluid-gray hover-white no-underline"
          href="{{ SITEURL }}/services/continuous-hacking/">
            Services
        </a>
        <span class="c-fluid-gray v-mid b"> / </span>
      </li>
    {% endif %}
        {% if "misc" not in page.category.name and not page.defends
           and not page.eventspage and not page.partnerspage and not page.usecasespage %}
          {% if page.rules %}
            {% if page.extended %}
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                 href="{{ SITEURL }}/products/">
                 Products
              </a>
            </li>
            <span class="c-fluid-gray v-mid b"> / </span>
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                 href="{{ SITEURL }}/products/rules/">
                 Rules
              </a>
            </li>
            <span class="c-fluid-gray v-mid b"> / </span>
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                 href="{{ SITEURL }}/products/rules/list/">
                 List
              </a>
            </li>
            <span class="c-fluid-gray v-mid b"> / </span>
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                  href="{{ SITEURL }}/products/rules/list/out-of-scope/">
                  Out of Scope Security rules
              </a>
            </li>
            <span class="c-fluid-gray v-mid b"> / </span>
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                  href="{{ SITEURL }}/products/rules/list/out-of-scope/#{{ page.category.name }}">
                  {{ page.category|capitalize|replace('-', ' ') }}
              </a>
            </li>
            {% else %}
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                 href="{{ SITEURL }}/products/">
                 Products
              </a>
            </li>
            <span class="c-fluid-gray v-mid b"> / </span>
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                 href="{{ SITEURL }}/products/rules/">
                 Rules
              </a>
            </li>
            <span class="c-fluid-gray v-mid b"> / </span>
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                 href="{{ SITEURL }}/products/rules/list/">
                 List
              </a>
            </li>
            <span class="c-fluid-gray v-mid b"> / </span>
            <li class="dib mt0">
              <a class="c-fluid-gray hover-white no-underline"
                  href="{{ SITEURL }}/products/rules/list/#{{ page.category.name }}">
                  {{ page.category|capitalize|replace('-', ' ') }}
              </a>
            </li>
            {% endif %}
          <span class="c-fluid-gray v-mid b"> / </span>
          {% else %}
          <li class="dib mt0">
            <a class="c-fluid-gray hover-white no-underline"
                href="{{ SITEURL }}/{{ page.category.name }}/">
                {{ page.category|capitalize|replace('-', ' ') }}
            </a>
          </li>
          <span class="c-fluid-gray v-mid b"> / </span>
          {% endif %}
        <li class="dib mt0" >
          <a class="white hover-white no-underline"
              href=".">{{ page.title }}</a>
        </li>
      {% elif not page.rulesindex %}
        {% if not page.forcespage %}
          <li class="dib mt0" >
            <a class="white hover-white no-underline"
                href=".">{{ page.title }}</a>
          </li>
        {% else %}
          <li class="dib mt0" >
            <a class="white hover-white no-underline"
                href=".">Install</a>
          </li>
        {% endif %}
      {% endif %}
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
{% if page.banner %}
  {% if page.slug == "careers/" %}
  <div class="bg-graylight">
    <div
      class="{{ page.banner }} cover banner-height justify-center items-center flex bg-center mw-1366 ml-auto mr-auto">
      <div class="w-100 center">
        <h1 class="white fw7 f1 f-5-l neue tc ma0">
          {{ page.subtitle }}
        </h1>
        {% if page.subtext %}
        <h2 class="white f3-l f5-m f6 fw3 roboto tc ma0">
          {{ page.subtext }}
        </h2>
        {% endif %}
      </div>
    </div>
  </div>
  {% else %}
  <div class="bg-graylight">
    <div
      class="{{ page.banner }} coverm cover-s banner-height justify-center items-center flex bg-center mw-1366 ml-auto mr-auto">
      <div class="w-100 center">
        <h1 class="white fw7 f1 f-5-l neue tc ma0">
          {{ page.title }}
        </h1>
      </div>
    </div>
  </div>
  {% endif %}
{% endif %}
{% endblock header %}
{% block content %}
<div class="bg-graylight">
  <div class="roboto internal mw-1366 ph-body ml-auto mr-auto roboto bg-white ph4-l ph3 pt5-l pt4 pb5">
    {% if not page.banner %}
    <h1 class="roboto tc">{{ page.title }}</h1>
    {% endif %}
    <div class="lh-2 tl">
      {{ page.content }}
      {% if page.faqindex %}
        {% for faqpage in pages if faqpage.faq %}
          {{ faqpage.content }}
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
