{% extends "base.html" %}
{% block meta %}
<meta name="description"
      content="{{ page.description }}">
<meta name="keywords"
      content="{{ page.keywords }}">
<meta name="url"
      property="og:url"
      content="{{ SITEURL }}/{{ page.url }}">
<meta name="title"
      property="og:title"
      content="{{ page.title }} | {{ SITENAME }}">
<meta name="description"
      property="og:description"
      content="{{ page.description }}">
<meta name="image"
      property="og:image"
      content="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/fluid-attacks-logo.png">
<meta name="type"
      property="og:type"
      content="website">
{% endblock meta %}

{% block title %}
  {% set TITLE = 0 %}
  {% if DEFAULT_LANG == "en" %}
    {% if page.title|length < 23 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE = 1 %}
    {% endif %}
  {% elif DEFAULT_LANG == "es" %}
    {% if page.title|length < 11 %}
{{ page.title }} | {{ SITENAME }}
      {% set TITLE =1 %}
    {% endif %}
  {% endif %}
  {% if TITLE == 0 %}
{{ page.title }} | {{ AUTHOR }}
  {% endif %}
{% endblock title %}

{% block breadcrumb%}
  <!-- navcontent-container -->
<div class="pv0 mt-body">
  <!-- navcontent-info -->
  <div class="df ma-auto bg-fluid-black">
    <div class="roboto f6-l f7 tl mw-1366 ph-body ml-auto mr-auto">
      <ul class="dib list w-auto ph0">
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/">
            Home
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="c-fluid-gray hover-white no-underline"
             href="{{ SITEURL }}/solutions/">
            Solutions
          </a>
          <span class="c-fluid-gray v-mid b"> / </span>
        </li>
        <li class="dib mt0">
          <a class="white hover-white no-underline"
             href=".">
            {{ page.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% endblock breadcrumb %}

{% block header %}
<div
  class="bg-solutions bg-banner-sz cover banner-height justify-center items-center flex bg-center">
  <div class="w-100 center">
    <h1 class="white fw7 f1 neue tc f-5-l ma0">
      {{ page.title }}
    </h1>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="mw-1366 ph-body center roboto">
  <!-- Section 1: Title -->
  <div class="w-100 pv4">
    <div class="center justify-center items-center flex flex-wrap">
      <div>
        <div class="tl">
          <p class="c-fluid-bk fw3 f3 lh-2 tl">
            {{ page.solution }}
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Section 2: Benefits -->
  <div class="w-100 pv4">
    <h2 class="c-fluid-bk fw7 f1 tc">Benefits</h2>
    <div class="solution-benefits justify-center items-center flex flex-wrap">
      {{ page.content }}
    </div>
    <div class="tc pv3">
      <p class="c-fluid-bk fw3 f3 lh-2 tc">
        {{page.title}} is one solution among all those belonging to our leading
        <a
          class="basic-link"
          href="{{ SITEURL }}/services/continuous-hacking/">
          Continuous Hacking
        </a>
        service
      </p>
    </div>
    <div class="tc pv3">
      <a href="{{ SITEURL }}/contact-us/">
        <button class="outline-transparent bannerbt hv-bt-fluid-rd pointer white pv3 ph4 roboto fw7 f3 dib bt-trans br2 bc-fluid-red ba">
          Contact Fluid Attacks
        </button>
      </a>
    </div>
  </div>
  <!-- Section 3: Cards -->
  <div class="w-100 pv4">
    <h2 class="c-fluid-bk fw7 f1 tc">Fluid Attacks in Numbers</h2>
    <div class="w-100 justify-center items-center flex flex-wrap">
      <div class="counter-container bg-white shadowbox-blog br3 dib-l ph4 mh4-l center mv0-l mv4">
        <p class="tc c-lightred f-card mb4 fw7">77%</p>
        <p class="tc c-fluid-bk f5">
          of continuous hacking projects with
          at least one high or critical vulnerability
        </p>
      </div>
      <div class="counter-container bg-white shadowbox-blog br3 dib-l ph4 mh4-l center mv0-l mv4">
        <p class="tc c-lightred f-card mb4 fw7">100k</p>
        <p class="tc c-fluid-bk f5">
          vulnerabilities discovered annually
        </p>
      </div>
      <div class="counter-container bg-white shadowbox-blog br3 dib-l ph4 mh4-l center mv0-l mv4">
        <p class="tc c-lightred f-card mb4 fw7">11</p>
        <p class="tc c-fluid-bk f5">
          average hackers attacking your project
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
<!-- Cookiebot consent message -->
<script id="CookieDeclaration" src="https://consent.cookiebot.com/9c4480b4-b8ae-44d8-9c6f-6300b86e9094/cd.js" type="text/javascript" async></script>
