:local .button {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px !important;
  white-space: normal;
}

:local .button,
.button:focus {
  background-color: #fff;
  border-color: #ff3435;
  color: #ff3435;
  outline: none;
}

:local .button:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}

:local .button:active,
.button:active:focus {
  background-color: #8e1616;
  border-color: #8e1616;
  color: #fff;
  outline: none;
}

.button:active:hover {
  background-color: #ff3435;
  border-color: #ff3435;
  color: #fff;
}

:local .button:active svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:local .button[disabled],
.button[disabled]:hover {
  background-color: #fafafa;
  border-color: #dfdfdf;
  color: #919191;
  opacity: 1;
}

:local .button svg {
  width: 16px !important;
  height: 16px !important;
}

:local .button[disabled] svg path {
  fill: #919191 !important;
  stroke: #919191 !important;
}

:local .button:hover:not([disabled]) svg path {
  fill: #fff !important;
  stroke: #fff !important;
}

:local .button[disabled] svg circle {
  stroke: #919191 !important;
}

:local .button:hover:not([disabled]) svg circle {
  stroke: #fff !important;
}
