/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif ;
}
*,*:before, *:after{
  box-sizing: inherit;
}
body{
  background-color:#ffffff;
  font-family: 'Roboto', sans-serif ;
}
a{
  color: #b0b0b0;
  font-weight: 300;
  text-decoration: none;
}
a:hover{
  color: #272727;
}
/**Globales**/
.contenedor{
  max-width: 1600px;
  width: 100%;
  margin:0 auto;
}
.contenedor-full{
  width: 100%;
  background-color: #f9f9f9;
}
@media only screen and (min-width: 350px) {
  .contenedor{
    width: 100%;
    padding: 0 15px;
  }
}
@media only screen and (min-width: 768px) {
  .contenedor{
    width: 90%;
  }
}
@media only screen and (min-width: 992px) {
  .contenedor{
    width: 90%;
  }
}
img {
  max-width: 100%;
  height: auto;
}
/*Utilidades*/
.text-center{
  text-align: center;
}
.paragraph-1{
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 300;
  color: #ffffff;
  width: 800px;
  text-align: center;
  padding-top: 3%;
}
.paragraph-1 a{
  color: #ffffff;
}
h1,h2,h3,p{
  margin: 0;
  padding:0;
}
h1{
  color: #ffffff;
  font-size: 3rem;
  font-family: 'Roboto', sans-serif ;
  font-weight: 700;
  font-style: normal;
}
h2 {
  color: #272727;
  font-size: 2.25em;
  font-family: 'Roboto', sans-serif ;
  font-weight: 700;
  font-style: normal;
}
h3{
  color: #272727;
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif ;
  font-weight: 700;
  font-style: normal;
}


/*Buttons*/
.btn-primary-mobile{
  width: 100%;
  background-color: #bf2626;
  padding:12px 40px;
  color: #fff;
  font-family: 'Roboto', sans-serif ;
  font-weight: 700;
  display: inline-block;
  border-radius: 4px;
  transition: all .3s ease;
  font-size: 1.5rem;
  border: none;
  margin-top: 15px;
}
.btn-primary{
  background-color: #bf2626;
  padding:10px 40px;
  color: #fff;
  font-family: 'Roboto', sans-serif ;
  font-weight: 700;
  text-decoration: none;
  font-size: 1.2em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
  border: 2px solid #bf2626;
  border-radius: 4px;
}
.btn-primary:hover{
  background-color: #ff3435;
  border: 2px solid #ff3435;
  cursor: pointer;
}

/*Page 404*/
.cat-section{
  background-image: url("../img/background-1.png");
  height: 100vh;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cat-section h1{
  color: #272727;
  font-size: 18rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 18rem;
}
.cat-section h3{
  color: #272727;
  font-size: 2.2rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Home*/
.bg-enviro{
  background-image: url("../img/background-2.png");
  height: 100vh;
  background-position: top center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
