:local .findingsBox {
  composes: textarea from '../../../../styles/global.css';
  composes: disabled from '../../../../styles/global.css';
  composes: text from '../../../../styles/global.css';
}

:local .timelineContainer {
  margin: 0 auto 40px;
  padding: 0;
  padding-bottom: 20px;
  max-width: 840px;
  position: relative;
}

:local .timelineContainer::before {
  content: '';
  position: absolute;
  top: 40px;
  bottom: 0;
  width: 2px;
  background: #dbdbdb;
  left: 170px;
  margin-left: -1px;
}

@media (min-width: 1320px) {
  :local .trackGraph {
    margin-left: 25%;
  }
}
