:local .severityCircle {
  width: 40px;
}

:local .severityCirclePath {
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

:local .severityCircleTrail {
  stroke: #d6d6d6;
}

:local .severityCircleText {
  font-size: 45px;
  dominant-baseline: middle;
  text-anchor: middle;
}

:local .severityCircleBg {
  fill: #d6d6d6;
}

:local .highlightedIndicator {
  font-size: 23px;
}

:local .container {
  padding-bottom: 8px;
}

:local .container p {
  margin-bottom: 0;
}

:local .container .headerIcon {
  text-align: right;
}
