:local .container {
  composes: dark-bg from '../../../../styles/global.css';
  height: 100%;
  text-align: center;
}

:local .content {
  margin: auto;
  padding-top: 10%;
  width: 350px;
}

:local .row {
  padding-bottom: 20px;
}

:local .imgDiv {
  padding-bottom: 50px;
}

:local .img {
  padding-bottom: 30px;
}
