:local .container {
  background-color: #272727;
  overflow: hidden !important;
  z-index: 0;
}

:local .container li {
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

:local .container ul {
  list-style: none;
}

:local .container * {
  outline: none;
}

:local .burgerButton {
  background: #f0f0f0;
  height: 20px;
  left: 10px;
  position: fixed;
  top: 20px;
  width: 28px;
}

:local .burgerButton span {
  background: #272727;
}

:local .closeButton span {
  background: #fff;
}

@media (min-width: 768px) {
  .burgerButton {
    display: none;
  }

  .closeButton {
    display: none;
  }
}

:local .logo {
  cursor: pointer;
  height: 45px;
  margin-left: 8px;
  margin-top: 43px;
  width: 190px;
}

:local .menuList {
  margin-top: 30px;
}

:local .bottomBar {
  bottom: 0;
  position: absolute;
  width: 100%;
}

:local .bottomBar ul {
  background-color: #ff3435;
  float: left;
  height: 60px;
  margin-bottom: 0;
  padding-left: 20px;
  width: 100%;
}

:local .bottomBar li {
  float: left;
}

:local .bottomBar li a {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  line-height: 60px;
  padding: 0 18px;
}

:local .bottomBar li a:hover {
  font-weight: bold;
}

:local .bottomBar li a span {
  font-size: 28px;
  line-height: 60px;
  margin-left: 50px;
  margin-right: 50px;
}

:local .version {
  color: white;
  margin-right: 5px;
  text-align: right;
}

:local .container li :active > div:first-child {
  border-right: 4px #ff3435 solid;
}

:local .item {
  padding: 8px 0 8px 0;
}

:local .label {
  padding-left: 10px;
}
