<!DOCTYPE html>
<html lang="en">
  <head>
    {% if not debug %}
      <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094" data-blockingmode="auto" type="text/javascript"></script>
    {% endif %}

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f4f99c985c414a5591e8077bf301b39b"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}">
    {% endif %}
    <title>Integrates | Fluid Attacks</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pixeden-stroke-7-icon@1.2.3/pe-icon-7-stroke/dist/pe-icon-7-stroke.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Sans+Pro:300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
    {% if '127.0.0.1' in request.client.host and debug %}
      <link rel="stylesheet" href="https://localhost:3000/dashboard/app-style.min.css" type="text/css">
    {% else %}
      <link rel="stylesheet" href="{{ css }}" type="text/css">
    {% endif %}
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}">
    {% endif %}
    <script>
      var userName = "{{ request.session['first_name'] }}";
      var fullName = "{{ request.session['first_name'] }} " + "{{ request.session['last_name'] }}";
      var userEmail = "{{ request.session['username'] }}";
    </script>
    <!-- Start of Delighted survey script -->
    <script defer src="{{ delighted }}" type="text/javascript"></script>
    <!-- End of Delighted survey script -->
    <!-- Start of fluidattacks Zendesk Widget script -->
    <script id="ze-snippet" src="https://static.zdassets.com/ekr/snippet.js?key=dc2bbf98-b773-4e25-ac9f-6cb800f7d293"></script>
    <!-- End of fluidattacks Zendesk Widget script -->
    <script type="text/javascript">
      zE(function() {
        zE.setLocale("en-US");
        zE.identify({
          name: fullName,
          email: userEmail
        });
      });
    </script>
  </head>
  <body>
    <div id="root"></div>
    {% if '127.0.0.1' in request.client.host and debug %}
      <script src="https://localhost:3000/dashboard/app-bundle.min.js" type="text/javascript"></script>
    {% else %}
      <script src="{{ js }}" type="text/javascript"></script>
    {% endif %}
    <script src="https://rum-static.pingdom.net/pa-5ae7406129ccc50006000057.js" async></script>
  </body>
</html>
