<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graphics for {{ entity }}</title>

    <!-- Local Styles -->
    {% if '127.0.0.1' in request.client.host and debug %}
      <link rel="stylesheet" href="https://localhost:3000/dashboard/graphicsFor{{ entity }}-style.min.css" type="text/css">
    {% else %}
      <link rel="stylesheet" href="{{ css }}" type="text/css">
    {% endif %}
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}">
    {% endif %}
    <!-- Third party styles -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f4f99c985c414a5591e8077bf301b39b"}'></script>
    <!-- End Cloudflare Web Analytics -->
  </head>
  <body>
    <div id="root"></div>

    <!-- Scripts -->
    {% if '127.0.0.1' in request.client.host and debug %}
      <script src="https://localhost:3000/dashboard/graphicsFor{{ entity }}-bundle.min.js" type="text/javascript"></script>
    {% else %}
      <script src="{{ js }}" type="text/javascript"></script>
    {% endif %}
  </body>
</html>
