<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Error</title>
    <meta charset="utf-8">
    <style>
      textarea {
        border: 0;
        height: 100%;
        left: 0;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        width: 100%;
      }
    </style>
    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f4f99c985c414a5591e8077bf301b39b"}'></script>
    <!-- End Cloudflare Web Analytics -->
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}">
    {% endif %}
  </head>
  <body>
    {% if debug %}
      <textarea readonly>{{ traceback }}</textarea>
    {% endif %}
  </body>
</html>
