<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Graphic</title>
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}">
    {% endif %}

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f4f99c985c414a5591e8077bf301b39b"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <!-- Include C3 -->
    <link href="{{ c3css }}" rel="stylesheet">
    <script src="{{ c3js }}"></script>

    <!-- Include D3 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.16.0/d3.min.js"></script>

    <!-- Include graphic generator -->
    <link href="{{ url_for('static', path='/styles/graphic.css') | replace('http', 'https') }}" rel="stylesheet" type="text/css"  media="screen"/>
    <script src="{{ url_for('static', path=generator_src) | replace('http', 'https') }}"></script>

    <!-- Include Data Document -->
    <pre id="args" hidden>
      {{ args | tojson }}
    </pre>
  </head>
  <body onload="load()">
    <div id="root"></div>
  </body>
</html>
