<!DOCTYPE html>
<html lang="en">
  <head>
    {% if not debug %}
      <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="9c4480b4-b8ae-44d8-9c6f-6300b86e9094" data-blockingmode="auto" type="text/javascript"></script>
    {% endif %}

    <!-- Cloudflare Web Analytics -->
    <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "f4f99c985c414a5591e8077bf301b39b"}'></script>
    <!-- End Cloudflare Web Analytics -->

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="google-signin-client_id" content="65328559770-aatq8b00rvk05qn2h523hn328drt9ehc.apps.googleusercontent.com">
    {% if 'https' in url_for('static', path='/imgs/favicon.ico') %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') }}">
    {% else %}
      <link rel="shortcut icon" href="{{ url_for('static', path='/imgs/favicon.ico') | replace('http', 'https') }}">
    {% endif %}
    <title>Integrates | Fluid Attacks</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,700|Source+Sans+Pro:300,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
    {% if '127.0.0.1' in request.client.host and debug %}
      <link rel="stylesheet" href="https://localhost:3000/dashboard/app-style.min.css" type="text/css">
    {% else %}
      <link rel="stylesheet" href="{{ css }}" type="text/css">
    {% endif %}
    <style> body { background-color: #272727; }</style>
  </head>
  <body id="FluidIntegrates">
    <iframe title="Frame 1" hidden></iframe><iframe title="Frame 2" hidden></iframe><iframe title="Frame 3" hidden></iframe>
    <div id="root"></div>
    {% if '127.0.0.1' in request.client.host and debug %}
      <script src="https://localhost:3000/dashboard/app-bundle.min.js" type="text/javascript"></script>
    {% else %}
      <script src="{{ js }}" type="text/javascript"></script>
    {% endif %}
  </body>
</html>
